body {
    font-family: sans-serif;
    background: black;
    color: salmon;
    text-align: center;
}

canvas {
    border: 1px solid gray;
    display: inline-block;
    cursor: none;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.description {
    width: 500px;
    margin: auto;
    text-align: justify;
    font-size: 14px;
}
